.hori_menu ul {
  list-style-type: none;
  margin-top: 8px;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  background-repeat: no-repeat;
  background-size: contain;
  border: 50px #4CAF50;
  background-color: #6CA6C1;

}

.hori_menu li {
  float: left;
}

.hori_menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.hori_menu ul li:nth-child(8)
{
    float: right;
    background-color: #2F3061;

}

.hori_menu li a:hover {
  background-color: #006C67;
}

.active {
  background-color: #2F3061;
}






